[user]
	name = Lewis Mesa
	email = lewismesa.cs@gmail.com
[init]
	defaultBranch = main
[core]
	autocrlf = input
	excludesfile = /home/ruinr/dotfiles/.gitignore_global
[commit]
	template = /home/ruinr/dotfiles/.gitmessage
